In [1]:
import numpy as np
import pandas as pd

# Read the data set and replace dashes with 0

In [2]:
df = pd.read_csv('Laliga.csv',header =1) #exclude first column from the data (as it is empty)

In [3]:
newdf=df.replace('-',0) #replace dash with zeros
newdf

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

# Print all the teams which have started playing between 1930-1980

In [4]:
df_copy=newdf.copy()

In [23]:
#df_copy['ndebut']=df_copy['Debut'].astype(str)  #add two coloums - ndebut and nlast
df_copy['ndebut']=df_copy['Debut'].str[0:4]
df_copy['nlast']=df_copy['Since/LastApp'].str[0:4]
df_copy

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,ndebut,nlast,Boolean
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,3,4,79,1929,1929,1,1929,1929,False
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,4,6,83,1929,1929,1,1929,1929,False
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,9,7,6,56,1929,2002-03,1,1929,2002,False
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,11,10,7,50,1931-32,1987-88,1,1931,1987,True
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,5,8,10,49,1929,1929,1,1929,1929,False
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,5,12,6,32,1934-35,2001-02,1,1934,2001,True
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,5,2,5,16,1929,1994-95,3,1929,1994,False
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,5,4,3,19,1929,2010-11,1,1929,2010,False
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,5,4,4,18,1939-40,2012-13,2,1939,2012,True
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,3,4,4,14,1932-33,2015-16,1,1932,2015,True
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,1,0,1,12,1941-42,2014-15,1,1941,2014,True
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,2,4,5,11,1939-40,2012-13,4,1939,2012,True
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,1,1,1,3,1948-49,2013-14,4,1948,2013,True
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,2,0,1,5,1929,2011-12,2,1929,2011,False
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,2,2,1,7,1944-45,2015-16,2,1944,2015,True
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,2,2,2,6,1935-36,2016-17,4,1935,2016,True
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,1,0,1,2,1949-50,2008-09,4,1949,2008,True
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,2,2,4,11,1933-34,2000-01,3,1933,2000,True
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,1,5,1960-61,2012-13,3,1960,2012,True
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,5,1951-52,2015-16,2,1951,2015,True
20,21,Villarreal,17,970,646,266,172,208,892,789,...,2,3,2,9,1998-99,2013-14,2,1998,2013,False
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,2,2,1941-42,2016-17,6,1941,2016,True
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,1977-78,2015-16,8,1977,2015,True
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,1,1,2,1959-60,2014-15,5,1959,2014,True
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,1,1,2004-05,2015-16,6,2004,2015,False
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,1,4,5,1935-36,2010-11,5,1935,2010,True
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,2,0,2,1961-62,2009-10,5,1961,2009,True
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,1940-41,2007-08,11,1940,2007,True
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,1,1,1930-31,2016-17,6,1930,2016,True
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,1,1,1963-64,2015-16,6,1963,2015,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,1,1,0,2,1943-44,1987-88,4,1943,1987,True
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,1977-78,2005-06,12,1977,2005,True
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,1987-88,1996-97,7,1987,1996,False
34,35,Castellon,11,285,334,103,79,152,419,588,...,1,2,0,3,1941-42,1990-91,4,1941,1990,True
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,1991-92,2004-05,7,1991,2004,False
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,2007-08,2014-15,8,2007,2014,False
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,1,0,1,1962-63,2014-15,5,1962,2014,True
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,1994-95,1997-98,10,1994,1997,False
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,1978-79,2008-09,8,1978,2008,True
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,1971-72,1979-80,12,1971,1979,True
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,1963-64,1969-70,7,1963,1969,True
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,1999-00,2008-09,17,1999,2008,False
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,2014-15,2014-15,10,2014,2014,False
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,3,0,4,1929,1934-35,3,1929,1934,False
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,1990-91,1992-93,9,1990,1992,False
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,1947-48,2006-07,7,1947,2006,True
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,1996-97,1998-99,17,1996,1998,False
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,1995-96,1997-98,19,1995,1997,False
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,1945-46,1950-51,10,1945,1950,True
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,1953-54,1957-58,14,1953,1957,True
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,1,1,1929,1931-32,6,1929,1931,False
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,1979-80,1980-81,10,1979,1980,True
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,1929,1930-31,8,1929,1930,False
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,1950-51,1993-94,16,1950,1993,True
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,2016-17,2016-17,17,2016,2016,False
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,2009-10,2009-10,20,2009,2009,False
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,1956-57,1956-57,16,1956,1956,True
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,1951-52,1951-52,16,1951,1951,True
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,1955-56,1955-56,15,1955,1955,True
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,2017-18,2017-18,9,2017,2017,False

col_list_non_int = ['Team', 'Debut', 'Since/LastApp']
col_list_int = df.drop(col_list_non_int,axis=1).columns
df[col_list_int] = df[col_list_int].astype('int64')                    # to convert all the columns to integer type

In [24]:
df_copy['Boolean'] = (df_copy['ndebut'] >= '1930')  & (df_copy['ndebut'] <= '1980')
df_copy

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,ndebut,nlast,Boolean
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,3,4,79,1929,1929,1,1929,1929,False
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,4,6,83,1929,1929,1,1929,1929,False
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,9,7,6,56,1929,2002-03,1,1929,2002,False
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,11,10,7,50,1931-32,1987-88,1,1931,1987,True
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,5,8,10,49,1929,1929,1,1929,1929,False
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,5,12,6,32,1934-35,2001-02,1,1934,2001,True
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,5,2,5,16,1929,1994-95,3,1929,1994,False
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,5,4,3,19,1929,2010-11,1,1929,2010,False
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,5,4,4,18,1939-40,2012-13,2,1939,2012,True
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,3,4,4,14,1932-33,2015-16,1,1932,2015,True
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,1,0,1,12,1941-42,2014-15,1,1941,2014,True
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,2,4,5,11,1939-40,2012-13,4,1939,2012,True
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,1,1,1,3,1948-49,2013-14,4,1948,2013,True
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,2,0,1,5,1929,2011-12,2,1929,2011,False
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,2,2,1,7,1944-45,2015-16,2,1944,2015,True
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,2,2,2,6,1935-36,2016-17,4,1935,2016,True
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,1,0,1,2,1949-50,2008-09,4,1949,2008,True
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,2,2,4,11,1933-34,2000-01,3,1933,2000,True
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,1,5,1960-61,2012-13,3,1960,2012,True
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,5,1951-52,2015-16,2,1951,2015,True
20,21,Villarreal,17,970,646,266,172,208,892,789,...,2,3,2,9,1998-99,2013-14,2,1998,2013,False
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,2,2,1941-42,2016-17,6,1941,2016,True
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,1977-78,2015-16,8,1977,2015,True
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,1,1,2,1959-60,2014-15,5,1959,2014,True
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,1,1,2004-05,2015-16,6,2004,2015,False
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,1,4,5,1935-36,2010-11,5,1935,2010,True
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,2,0,2,1961-62,2009-10,5,1961,2009,True
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,1940-41,2007-08,11,1940,2007,True
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,1,1,1930-31,2016-17,6,1930,2016,True
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,1,1,1963-64,2015-16,6,1963,2015,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,1,1,0,2,1943-44,1987-88,4,1943,1987,True
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,1977-78,2005-06,12,1977,2005,True
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,1987-88,1996-97,7,1987,1996,False
34,35,Castellon,11,285,334,103,79,152,419,588,...,1,2,0,3,1941-42,1990-91,4,1941,1990,True
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,1991-92,2004-05,7,1991,2004,False
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,2007-08,2014-15,8,2007,2014,False
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,1,0,1,1962-63,2014-15,5,1962,2014,True
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,1994-95,1997-98,10,1994,1997,False
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,1978-79,2008-09,8,1978,2008,True
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,1971-72,1979-80,12,1971,1979,True
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,1963-64,1969-70,7,1963,1969,True
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,1999-00,2008-09,17,1999,2008,False
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,2014-15,2014-15,10,2014,2014,False
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,3,0,4,1929,1934-35,3,1929,1934,False
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,1990-91,1992-93,9,1990,1992,False
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,1947-48,2006-07,7,1947,2006,True
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,1996-97,1998-99,17,1996,1998,False
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,1995-96,1997-98,19,1995,1997,False
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,1945-46,1950-51,10,1945,1950,True
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,1953-54,1957-58,14,1953,1957,True
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,1,1,1929,1931-32,6,1929,1931,False
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,1979-80,1980-81,10,1979,1980,True
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,1929,1930-31,8,1929,1930,False
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,1950-51,1993-94,16,1950,1993,True
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,2016-17,2016-17,17,2016,2016,False
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,2009-10,2009-10,20,2009,2009,False
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,1956-57,1956-57,16,1956,1956,True
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,1951-52,1951-52,16,1951,1951,True
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,1955-56,1955-56,15,1955,1955,True
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,2017-18,2017-18,9,2017,2017,False

In [7]:
x=df_copy.loc[df_copy['Boolean']==True]
x['Team']

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

# Print the list of teams which came Top 5 in terms of points

In [8]:
df1=df.copy()
df1 = df1.replace('-',0)

In [9]:
df1['Points']=df1.Points.astype(str).astype(int)  # convert dtype object to Int of 'Points'
#df1.dtypes

In [42]:
y=df1.loc[:,['Team','Points']]
y =df1.nlargest(5,'Points')
y

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [43]:
y.Team

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

# Write a function with name â€œGoal_diff_countâ€ which should return all the teams with their Goal Differences.

In [11]:
df1['GoalsFor']=df1.GoalsFor.astype(str).astype(int)
df1['GoalsAgainst']=df1.GoalsAgainst.astype(str).astype(int) 

def Goal_diff_count(df1):
    return df1['GoalsFor']-df1['GoalsAgainst']
df1.apply(Goal_diff_count,axis=1)  # axis 1 applies to every row
newdf['GoalDiff'] = df1.apply(Goal_diff_count,axis=1)
newdf['Team']=df_copy['Team']
newdf.loc[:,['Team','GoalDiff']]

                   Team  GoalDiff
0           Real Madrid      2807
1             Barcelona      2786
2       Atletico Madrid      1225
3              Valencia       929
4       Athletic Bilbao       931
5               Sevilla       307
6              Espanyol      -280
7         Real Sociedad        -2
8              Zaragoza      -164
9            Real Betis      -333
10  Deportivo La Coruna      -136
11           Celta Vigo      -346
12           Valladolid      -413
13     Racing Santander      -525
14       Sporting Gijon      -399
15              Osasuna      -334
16               Malaga      -342
17               Oviedo      -309
18             Mallorca      -189
19           Las Palmas      -399
20           Villarreal       103
21              Granada      -338
22       Rayo Vallecano      -328
23                Elche      -272
24               Getafe      -113
25             Hercules      -334
26             Tenerife      -125
27               Murcia      -385
28               Alaves      -165
29              Levante      -202
..                  ...       ...
31             Sabadell      -228
32                Cadiz      -269
33             Logrones      -198
34            Castellon      -169
35             Albacete       -90
36              Almeria      -122
37              Cordoba      -145
38           Compostela       -42
39           Recreativo       -94
40            Burgos CF       -94
41           Pontevedra       -56
42             Numancia       -98
43                Eibar       -28
44               Arenas       -81
45          Real Burgos       -38
46            Gimnastic      -114
47          Extremadura       -55
48               Merida       -45
49             Alcoyano      -107
50                 Jaen       -62
51           Real Union       -31
52           AD Almeria       -45
53               Europa       -34
54               Lleida      -112
55              Leganes       -19
56                Xerez       -28
57               Condal       -20
58      Atletico Tetuan       -34
59     Cultural Leonesa       -31
60               Girona         0

[61 rows x 2 columns]

In [12]:
newdf.loc[:,['GoalDiff']].max()

GoalDiff    2807
dtype: int64

In [13]:
newdf.loc[:,['GoalDiff']].min()

GoalDiff   -525
dtype: int64

In [14]:
newdf.loc[newdf.GoalDiff == 2807 ,'Team']

0    Real Madrid
Name: Team, dtype: object

In [15]:
newdf.loc[newdf.GoalDiff == -525 ,'Team']

13    Racing Santander
Name: Team, dtype: object

# Print the top 5 teams which has the highest Winning percentage

In [16]:
df['GamesWon']=df1.GamesWon.astype(str).astype(int)
df['GamesPlayed']=df1.GamesPlayed.astype(str).astype(int) 

def per_win(df):
    try:
        Per_win = df['GamesWon']/df['GamesPlayed']*100
        return Per_win
    except ZeroDivisionError:
        print("Replace Divide by Zero to NaN")

#df_add=df.copy()
df['Winning Percent']=df.apply(per_win,axis=1)
df['Winning Percent'].fillna(0)

Replace Divide by Zero to NaN

0     59.630702
1     57.241130
2     47.475134
3     44.557057
4     43.772629
5     41.112957
6     36.100533
7     37.532580
8     35.146022
9     35.069444
10    36.797386
11    34.511190
12    31.582538
13    31.722689
14    32.304527
15    32.321700
16    31.075697
17    34.228188
18    33.704453
19    33.485401
20    41.176471
21    29.380054
22    28.987730
23    29.941003
24    32.236842
25    29.299363
26    31.376518
27    24.744027
28    32.894737
29    28.109453
        ...
31    30.281690
32    23.214286
33    27.745665
34    30.838323
35    28.148148
36    27.192982
37    29.078014
38    32.500000
39    26.881720
40    28.921569
41    29.444444
42    24.342105
43    30.701754
44    33.076923
45    22.807018
46    29.310345
47    25.000000
48    23.750000
49    27.777778
50    32.222222
51    29.166667
52    25.000000
53    33.333333
54    19.117647
55    21.052632
56    21.052632
57    23.333333
58    23.333333
59    16.666667
60     0.000000
Name: Winning Percent, Length: 61, dtype: float64

In [17]:
df2 =df.nlargest(5,'Winning Percent')
df2.loc[:,['Team','Winning Percent']]
#newdf.loc[:,['Team','GoalDiff']]

              Team  Winning Percent
0      Real Madrid        59.630702
1        Barcelona        57.241130
2  Atletico Madrid        47.475134
3         Valencia        44.557057
4  Athletic Bilbao        43.772629

# Group teams based on their â€œBest positionâ€ and print the sum of their points for all positions

In [18]:
df3=df.copy()
df3['Points']=newdf['Points'].astype(str).astype(int)
df3 = df3.groupby(['BestPosition','Team']).sum()
df3

                                  Pos  Seasons  Points  GamesPlayed  GamesWon  \
BestPosition Team
1            Athletic Bilbao        5       86    3368         2762      1209
             Atletico Madrid        3       80    3442         2614      1241
             Barcelona              2       86    4262         2762      1581
             Deportivo La Coruna   11       45    1814         1530       563
             Real Betis            10       51    1884         1728       606
             Real Madrid            1       86    4385         2762      1647
             Real Sociedad          8       70    2573         2302       864
             Sevilla                6       73    2819         2408       990
             Valencia               4       82    3386         2664      1187
2            Las Palmas            20       33    1020         1096       367
             Racing Santander      14       44    1416         1428       453
             Sporting Gijon        15       43    1389         1458       471
             Villarreal            21       17     970          646       266
             Zaragoza               9       58    2109         1986       698
3            Arenas                45        7     107          130        43
             Espanyol               7       82    2792         2626       948
             Mallorca              19       27    1148          988       333
             Oviedo                18       38    1174         1192       408
4            Castellon             35       11     285          334       103
             Celta Vigo            12       51    1789         1698       586
             Malaga                17       36    1314         1255       390
             Osasuna               16       37    1351         1318       426
             Sabadell              32       14     353          426       129
             Valladolid            13       42    1471         1466       463
5            Cordoba               38        9     230          282        82
             Elche                 24       21     606          678       203
             Hercules              26       20     538          628       184
             Tenerife              27       13     510          494       155
6            Alaves                29       12     421          380       125
             Getafe                25       12     553          456       147
...                               ...      ...     ...          ...       ...
             Levante               30       11     416          402       113
             Real Union            52        4      56           72        21
7            Albacete              36        7     277          270        76
             Gimnastic             47        4      91          116        34
             Logrones              34        9     293          346        96
             Pontevedra            42        6     150          180        53
             Salamanca             31       12     375          423       123
8            Almeria               37        6     242          228        62
             Europa                54        3      42           54        18
             Rayo Vallecano        23       17     662          652       189
             Recreativo            40        5     188          186        50
9            Girona                61        1       0            0         0
             Real Burgos           46        3      96          114        26
10           AD Almeria            53        2      52           68        17
             Alcoyano              50        4      76          108        30
             Compostela            39        4     190          160        52
             Eibar                 44        3     132          114        35
11           Murcia                28       18     445          586       145
12           Burgos CF             41        6     168          204        59
             Cadiz                 33       12     343          448       104
14           Jaen                  51        3      71           90        29
15           Cultural Leonesa      60        1      14           30         5
16           Atletico Tetuan       59        1      19           30         7
             Condal                58        1      22           30         7
             Lleida                55        2      40           68        13
17           Extremadura           48        2      83           80        20
             Leganes               56        1      35           38         8
             Numancia              43        4     148          152        37
19           Merida                49        2      81           80        19
20           Xerez                 57        1      34           38         8

                                  Winning Percent
BestPosition Team
1            Athletic Bilbao            43.772629
             Atletico Madrid            47.475134
             Barcelona                  57.241130
             Deportivo La Coruna        36.797386
             Real Betis                 35.069444
             Real Madrid                59.630702
             Real Sociedad              37.532580
             Sevilla                    41.112957
             Valencia                   44.557057
2            Las Palmas                 33.485401
             Racing Santander           31.722689
             Sporting Gijon             32.304527
             Villarreal                 41.176471
             Zaragoza                   35.146022
3            Arenas                     33.076923
             Espanyol                   36.100533
             Mallorca                   33.704453
             Oviedo                     34.228188
4            Castellon                  30.838323
             Celta Vigo                 34.511190
             Malaga                     31.075697
             Osasuna                    32.321700
             Sabadell                   30.281690
             Valladolid                 31.582538
5            Cordoba                    29.078014
             Elche                      29.941003
             Hercules                   29.299363
             Tenerife                   31.376518
6            Alaves                     32.894737
             Getafe                     32.236842
...                                           ...
             Levante                    28.109453
             Real Union                 29.166667
7            Albacete                   28.148148
             Gimnastic                  29.310345
             Logrones                   27.745665
             Pontevedra                 29.444444
             Salamanca                  29.078014
8            Almeria                    27.192982
             Europa                     33.333333
             Rayo Vallecano             28.987730
             Recreativo                 26.881720
9            Girona                      0.000000
             Real Burgos                22.807018
10           AD Almeria                 25.000000
             Alcoyano                   27.777778
             Compostela                 32.500000
             Eibar                      30.701754
11           Murcia                     24.744027
12           Burgos CF                  28.921569
             Cadiz                      23.214286
14           Jaen                       32.222222
15           Cultural Leonesa           16.666667
16           Atletico Tetuan            23.333333
             Condal                     23.333333
             Lleida                     19.117647
17           Extremadura                25.000000
             Leganes                    21.052632
             Numancia                   24.342105
19           Merida                     23.750000
20           Xerez                      21.052632

[61 rows x 6 columns]

In [19]:
df_copy['Points']=newdf['Points'].astype(str).astype(int)
y=df_copy.groupby('BestPosition').sum()

In [20]:
y.Points

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int32